

body{
    margin: 0;
    height: 1908px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

/* header styles */
header{
    background-color: rgba(22, 22, 22, 1);
    border-radius: 30px;
    height: 646px;
    width : 1321px;
    margin-top: 50px;
    margin-bottom: 130px;
}
.top-banner{
    display: flex;
}
.banner{
    height: 424px;
    width : 531px;
    margin-top: 111px;
    margin-bottom: 111px;
    margin-left: 106px;
    color:rgba(255, 255, 255, 1)
}
.banner h1{
    font-size: 70px;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
}
.banner p{
    font-size: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 30px;
}
.banner a{
    background: red;
    text-decoration: none;
    color: white;
    width: 187px;
    height: 56px;
    border-radius: 5px;
    font-size: 20px;
    font-weight:500;
    text-align: center;
    padding: 16px 25px 16px 25px;
    gap: 10px;
}

.banner-image{
    padding-left: 20px;
    height: 613px;
    width: 581px;
}

/* main content common */
.main-content{
    gap: 24px;
    display: flex;
}
.navigation{
    width: 312px;
    height: 312px;
    background-color: rgba(22, 22, 22, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.nav-tab{
    width: 252px;
    height: 64px;
    border-radius: 10px;
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    color: black;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nav-tab a{
    text-decoration: none;
    padding-top: 17px;
    color: inherit;
}
.current-tab{
    background-color: rgba(221, 0, 0, 1);
    color: white;
}

/* upcoming matches */

.matches{
    width: calc(100%-312px);
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3,1fr);
}
.match{
    height: 188px;
    width: 312px;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    padding-top: 53px;
}
.match h2{
    font-size: 20px;
    font-weight:600;
    color: rgba(22, 22, 22, 1);
    margin-block-start: 20;
    margin-block-end: 0;
}    
.match h3{
    font-size: 16px;
    font-weight:bold;
    color: rgba(22, 22, 22, 1);
}   
.match p{
    font-size: 16px;
    font-weight:normal;
    columns: #4D4D4D;
    margin-block-start: 10;
    margin-block-end: 0;
}         
.vs{
    display: flex;
    gap: 22px;
    justify-content: center;
}
.vs-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer styles */
footer{
    background-color: rgba(22, 22, 22, 1);
    width: 100%;
    height: 444px;
    margin-top: 130px;
    
}
.footer-title{
    display: flex;
    justify-content: center;
}
footer h1{
    font-size: 40px;
    font-weight: 600;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 130px;
}
footer p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(185, 185, 185, 1);
}
footer hr{
    margin-top: 50px;
    background-color:rgba(255, 255, 255, 0.1);
    width: 1320px;
}
.footer-banner{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 50px;

    display: flex;
    justify-content: space-evenly;
    
.footer-banner a{
    text-decoration: none;
}